<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draft Fussball Manager</title>
</head>
<body>
    <h1>
        {% if message is defined %}
            {{ message }}
        {% else %}
            Willkomen beim Fussball Manager
        {% endif %}
    </h1>
    <a href="/signup">Sign up</a>
    <a href="/login">Login</a>
</body>
</html>