<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ player[1] + " " + player[2] }}</title>
</head>
<body>
    <h1>{{ player[1] + " " + player[2] }}</h1>
    <p>Gehalt: {{ player[3] }}</p>
</body>
</html>