<html>
    <head>
        <title>Spieler Übersicht</title>
    </head>
    <body>
        <h1>Liste aller Spieler</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Gehalt</th>
            </tr>
            {% for row in players %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
            </tr>
            {% endfor %}
        </table> 
    </body>
</html>