<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <ul class="errorMessages" id="errorMessages">
        {% if message is defined %}
            {{ message }}
        {% endif %}
    </ul><br>
    <form action="/signup" method="post">
        <label for="username">Benutzername:</label>
        <input type="text" name="username" id="username" required><br>
        <label for="password">Passwort:</label>
        <input type="password" name="password" id="password" required onchange="checkPw()"><br>
        <label for="confirmPassword">Passwort bestätigen:</label>
        <input type="password" name="confirmPassword" id="confirmPassword" required onchange="checkPw()"><br>
        <input type="submit" value="Konto erstellen">
    </form>
</body>
<script>
    function checkPw(){
        var pw = document.getElementById('password');
        var check_pw = document.getElementById('password');
        if (pw != check_pw) {
            document.getElementById('errorMessages').innerText = "Passwörter stimmen nicht überein"
        }
    }
</script>
</html>