<html>
    <head>
        <title>Spiele Übersicht</title>
    </head>
    <body>
        <h1>Liste aller Spiele</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Count</th>
                <th>Link</th>
            </tr>

            {% for row in games %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td><a href="/games/{{ row[0] }}">Link</a></td>
            </tr>
            {% endfor %}

        </table> 
    </body>
</html>