<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spielrunde {{ games[0][3] }}</title>
</head>
<body>
    <h1>Spielrunde {{ games[0][3] }}</h1>
    <p>Anzahl Spieler: {{ games[0][4] }}</p>
    <table>
        <tr>
            <th>User ID</th>
            <th>Username</th>
        </tr>
            {% for row in games %}
            <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[2] }}</td>
            </tr>
            {% endfor %}
    </table>
    {% if user_in_game == True %}
        <p>You are in this game</p>
        <a href="/games/{{ games[0][1] }}/leave">Verlassen</a>
    {% else %}
        <a href="/games/join/{{ games[0][1] }}">Beitreten</a>
    {% endif %}
</body>
</html>