<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ game_name }} beitreten</title>
</head>
<body>
    {% if success == False %}
    <h1>{{ game_name }} beitreten</h1>
    <form action="/games/join/{{ game_id }}" method="post">
        <input type="hidden" name="game_name" value="{{ game_name }}">
        <input type="hidden" name="game_id" value="{{ game_id }}">
        <input type="submit" value="Beitreten">
    </form>
    {% else %}
        <p>Spiel {{ message }}</p>
        <a href="/games/{{ game_id }}">Übersicht</a>
    {% endif %}
</body>
</html>